# OS cruft
.DS_Store
Thumbs.db

# IDEs / editors
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
*.swp

# Common logs & env
*.log
logs/
.env
.env.*       # e.g. .env.local, .env.development
# But keep the example file
!.env.example

.gradle


